#header {
    text-align: center;
    font-family: Rockwell;
    font-variant: small-caps;
    background-color: #142d4c;
    color: #ececec;
}

#profile_header {
    line-height: 250%;
    font-size: 400%;
}

#profile_subheader {
    line-height: 250%;
    font-size: 280%;
    padding-bottom: 30px;
}

#mods {
    display: inline-flex;
    text-align: center;
    font-family: Rockwell;
    font-variant: small-caps;
    color: #142d4c;
}

#formLabel {
    display: inline-flex;
    text-align: center;
    font-family: Rockwell;
    font-variant: small-caps;
    color: #142d4c;
}
