#nav {
    background-color: #142d4c !important;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

#nav_link {
    font-family: Rockwell;
    font-variant: small-caps;
    font-size: 150%;
    padding-right: 3%;
    padding-left: 3%;
    color:#d0d5db;
}

#nav_link:active{
    color:#d0d5db;
}

#nav_link:hover {
    color: #ffffff;
}