#nav {
    background-color: #142d4c;
    padding-top: 3%;
    padding-bottom: 3%;
}

#nav-bar {
    background-color: #142d4c;
    font-family: Rockwell;
    font-variant: small-caps;
    font-size: 150%;
    color: #142d4c;
    float: right;
    display: inline-block;
    text-align: center;
    padding: 8px 30px;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    text-decoration: none;
}

#bar {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 8px 60px;
    text-decoration: none;
}

#bar:active {
    background-color: #385170;
    color:#ececec;
}

#bar:hover {
    background-color: #385170;
    color: #ececec;
}

#a {
    transition-duration: 0.6s;
    text-decoration: none;
}

#a:hover {
    background-color: #385170;
    color:#ececec;
}